lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
 
# pkg
pkg

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

# VSCodeCounter ignore
.VSCodeCounter

# ignore settings
settings.yml